# Ignore node_modules in both folders
Back-end/node_modules/
Front-end/node_modules/

# Ignore .env in both folders
Back-end/.env
Front-end/.env
.env

# Ignore build or uploads

Front-end/build/
Front-end/dist/

